<!DOCTYPE html>
<html>
    <head>
        <title> Weather App :: About</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        {{>header}}
         <section>
              <div class="container">
                  <div class="profile">
                      <div class="avatar">
                            <img src="img/img1.jpg"/>
                      </div>
                      <div class=" profiletext  ">
                           <h2>Author : {{name}}</h2>

                            <p> {{aboutText}}</p>
                      </div>
                  </div>
                   </div>

         </section>

    {{>footer}}
    </body>
</html>